<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOME - O começo de um fim</title>
</head>
<body>
    <h1>Digital Post - a era sem fim</h1>
    {% for post in posts %}
    <div>
            
            <h2><a href="">{{post.title}} - </a></h2>
            <h3>{{post.text|linebreaks}}</h3>
            <h5>Publicado em:{{post.published_date}}</h5>
            <p>{{post.author}}</p>
    </div>
    {% endfor%}
</body>
</html>